@import url("../../styles/global-styles.css");

.produtosBackground{
  background-color: #0288D1;
  width:100%;
  box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.1);
}

.produtos {
  &__header{
    background-color: #0288D1;
  }
  &__filtros {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2.875rem 9.0625rem 3.375rem 9.0625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__card {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0rem 9.0625rem ;
  }
}
.headerContainner {
  box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.1);
  max-width: 80rem;
  margin: 0 auto;
  padding: 2.9375rem 9.0625rem;
  background-color: #0288D1;
  &__title {
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1.22;
    letter-spacing: -0.09375rem;

color: #FFFFFF;
  }
  &__text {
    font-family: 'Public Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.44;
    letter-spacing: -0.01875rem
  }
  animation: fadIn 0.5s forwards;
}

@keyframes fadIn {
  from{
    transform: translateX(-145px);
    opacity: 0;
  }
  to{
    transform: initial;
    opacity: 1;
  }
}

@media (max-width:70.625rem) {
  .produtos{
    &__filtros{
      padding: 2.875rem 4.5rem 3.375rem 4.5rem;
    }
    &__card {
      padding: 0rem 4.5rem ;
    }
  }
  .headerContainner {
    padding: 2.9375rem 4.5rem;
  }
}

@media (max-width:59.375rem) {
  .produtos{
    &__filtros{
      padding: 2.875rem 2.25rem 3.375rem 2.25rem;
    }
    &__card {
      padding: 0rem 2.25rem ;
    }
  }
  .headerContainner {
    padding: 2.9375rem 2.25rem;
  }
}

@media (max-width:56rem) {
  .produtos{
    &__filtros{
      padding: 2.875rem 1rem 3.375rem 1rem;
    }
    &__card {
      padding: 0rem 1rem ;
    }
  }
  .headerContainner {
    padding: 2.9375rem 1rem;
  }
}

@media (max-width:53.25rem) {
  .produtos {
    &__filtros {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
  .filtros__categorias {
    padding-bottom: 1rem;
  }
}


@media (max-width:52rem) {
  .produtos{
    &__filtros{
      padding: 2.875rem 0.5rem 3.375rem 0.5rem;
    }
    &__card {
      padding: 0rem 0.5rem ;
    }
  }
  .headerContainner {
    padding: 2.9375rem 0.5rem;
  }
}


