.buttonOne {
  padding: 0.750rem 3.875rem;
  border: 0.0625rem solid black;
  display: block;
  border-radius: 0.1875rem;
  transition: all 0.3s ease-in;
  &:hover {
    background-color: #03A9F4;
    color: #FFFFFF;
    border: 0.0625rem solid #FFFFFF;
  }
}