@import url("../../styles/global-styles.css");
.CarrinhoContainner {
  display: flex;
  gap: 5.4375rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 6.625rem;
  padding: 0rem 9.0625rem 3.1875rem 9.0625rem;
  max-width: 80rem;
  margin: 0 auto;
}
.CarrinhoContainner__title {
  max-width: 80rem;
  margin: 0 auto;
  padding-left: 9.0625rem;
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.22;
  letter-spacing: -0.09375rem;
  color: #0288D1;
}

.orderInfo {
  padding-top: 6.625rem;
  padding-right: 9.0625rem;
}
.orderInfo__title {
  padding-bottom: 1.8125rem;
}
.orderInfo__cupom {
  margin-bottom: 1.6875rem;
  width: 100%;
  height: 2.5rem;
}
.orderInfo__cupom--error {
  outline-color: red;
  border-color: red;
}
.orderInfo__subtotal {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.14;
  letter-spacing: -0.01875rem;
}
.orderInfo__ship {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.14;
  letter-spacing: -0.01875rem;
}
.orderInfo__cupomValue {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #BDBDBD;
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.14;
  letter-spacing: -0.01875rem;
}
.orderInfo__total {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 2.25rem;
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.14;
  letter-spacing: -0.01875rem;
}
.orderInfo__btn {
  padding: 0.875rem 5.65625rem;
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375;
  text-align: center;
  letter-spacing: -0.025rem;
  background-color: #0288D1;
  color: #FFFFFF;
  width: max-content;
  transition: all 0.3s;
}
.orderInfo__btn:hover {
  background-color: #03A9F4;
}

.cartError {
  padding-bottom: 1.6875rem;
  color: red;
}

@media (max-width: 78.5rem) {
  .CarrinhoContainner {
    padding: 3.1875rem 7.0625rem 0rem 7.0625rem;
  }
  .CarrinhoContainner__title {
    padding-left: 7.0625rem;
  }
  .orderInfo {
    padding-right: 7.0625rem;
  }
}
@media (max-width: 70.625rem) {
  .CarrinhoContainner {
    padding: 3.1875rem 4.5rem 0rem 4.5rem;
  }
  .CarrinhoContainner__title {
    padding-left: 4.5rem;
  }
  .orderInfo {
    padding-right: 4.5rem;
  }
}
@media (max-width: 63.75rem) {
  .CarrinhoContainner {
    padding: 3.1875rem 3.5rem 0rem 3.5rem;
  }
  .CarrinhoContainner__title {
    padding-left: 3.5rem;
  }
  .orderInfo {
    padding-right: 3.5rem;
  }
}
@media (max-width: 61.5rem) {
  .CarrinhoContainner {
    padding: 3.1875rem 2.5rem 0rem 2.5rem;
  }
  .CarrinhoContainner__title {
    padding-left: 2.5rem;
  }
  .orderInfo {
    padding-right: 2.5rem;
  }
}
@media (max-width: 59.375rem) {
  .CarrinhoContainner {
    padding: 3.1875rem 2.25rem 0rem 2.25rem;
  }
  .CarrinhoContainner__title {
    padding-left: 2.25rem;
  }
  .orderInfo {
    padding-right: 2.25rem;
  }
}
@media (max-width: 56rem) {
  .CarrinhoContainner {
    padding: 3.1875rem 1rem 0rem 1rem;
  }
  .CarrinhoContainner__title {
    padding-left: 1rem;
  }
  .orderInfo {
    padding-right: 1rem;
  }
}
@media (max-width: 52rem) {
  .CarrinhoContainner {
    gap: 2.5rem;
  }
}
@media (max-width: 50rem) {
  .CarrinhoContainner {
    flex-wrap: wrap;
  }
}
@media (max-width: 25rem) {
  .CarrinhoContainner {
    padding: 3.1875rem 0rem 0rem 0rem;
  }
  .CarrinhoContainner__title {
    padding-left: 0rem;
  }
  .orderInfo {
    padding-right: 0rem;
  }
}

/*# sourceMappingURL=Carrinho-styles.css.map */
